MonoPlatformerGame/DedicatedServerConsole/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MonoPlatformerGame/MonoPlatformerGame/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
MonoPlatformerGame/MonoPlatformerGame/obj/x86/Release/MonoPlatformerGame.csproj.FileListAbsolute.txt
